<style>
    <%- include("index.css") -%>
</style>
<blockquote>
    <p><%= quote; %></p>
</blockquote>
<img id="steam-index-img" src="<%= imgUrl %>">
<div id="steam-index-link">
    <a href="https://steamcommunity.com/profiles/<%= steamId %>/" target="_blank">访问我的steam主页</a>
</div>
<hr>
<div>
    <div id="steam-item1">
        <% games.forEach(function(item){ %>
        <%- include("template.ejs",{'__': __,item:item,steamId:steamId,imgUrl:imgUrl}) -%>
        <% }); %>
        <%- include("pagination.ejs") -%>
    </div>
</div>
<script>
    <%- include("index.js") -%>
    <%- include("pagination.js") -%>
</script>
